/* Color Variables */
:root {
    --blue: #499be1;
    --t-blue: #499be1cc;
    --t-white: #ffffffed;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Istok Web', sans-serif;
}

.hero-img {
    position: relative;
    margin: 0;
    width: 100%;
    height: 55vh;
}

.hero-text {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 5em;
    color: var(--blue);
    text-shadow: #474747 1px 1px 15px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1em;
}

header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 1px;
    background: var(--t-white);
    z-index: 1;
}

nav ul {
    padding: 1px 0px;
    list-style: none;
    text-align: center;
}

nav li {
    list-style: none;
    display: inline;
}

nav a {
    text-decoration: none;
    padding: 1em 2em;
    color: black;
    border-bottom: 2px solid #0000;
    transition: color .3s, border-bottom .3s;
}

.current {
    border-bottom: 2px solid black;
}

nav a:hover {
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
}

main {
    padding: 0px 1px;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    color: var(--blue);
    font-size: 3em;
    margin: .2em;
    text-align: center;
}

h2 {
    font-size: 2em;
    color: #147ad0;
}

.grid {
    display: grid;
    grid-gap: 1em;
    height: 125vh;
    width: 100%;
    margin-bottom: 4em;
}

#g1 {
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

#g2 {
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

#g3 {
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
}

.item {
    position: relative;
    width: 100%;
}

.overlay {
    opacity: 0;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffffa8;
    transition: opacity .2s;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity .2s;
}

.name {
    font-size: 1.5em;
    font-weight: 900;
    width: 100%;
}

.item:hover .overlay, .item:hover .text {
    opacity: 1;
}

/* ----------------------------------- */
/* Item-Grid Placement */

#a {
    grid-area: 1/1/3/2;
}
#b {
    grid-area: 1/2/2/4;
}
#c {
    grid-area: 2/2/4/3;
}

#g {
    grid-area: 1/1/3/3;
}
#i {
    grid-area: 2/3/4/4;
}
#k {
    grid-area: 3/1/4/2;
}

#m {
    grid-area: 1/2/2/4;
}
#n {
    grid-area: 1/1/3/2;
}

/* ----------------------------------- */
/* Media Queries */

@media (max-width: 750px) {
    nav a {
        padding: 1em;
    }

    .grid {
        grid-gap: .75em;
    }

    #g1 {
        grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    }

    #g2 {
        grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    }
    #g3 {
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    }
    #a {
        grid-area: 1/1/3/2;
    }
    #b {
        grid-area: 1/2/2/3;
    }
    #c {
        grid-area: 2/2/4/3;
    }

    #g {
        grid-area: 1/1/2/3;
    }
    #i {
        grid-area: 2/1/4/2;
    }
    #k {
        grid-area: 4/1/5/3;
    }

    #m {
        grid-area: 3/1/4/3;
    }
    #n {
        grid-area: 1/1/3/2;
    }

}

@media (max-width: 450px) {
    nav a {
        padding: .5em;
    }

    #g1, #g2 {
        grid-template: repeat(6, 1fr) / 1fr;
    }
    #a {
        grid-area: 1/1/3/2;
    }
    #b {
        grid-area: 3/1/4/2;
    }
    #c {
        grid-area: 3/1/4/2;
    }

    #g {
        grid-area: 1/1/2/2;
    }
    #i {
        grid-area: 2/1/4/2;
    }
    #k {
        grid-area: 4/1/5/2;
    }

    #g3 {
        grid-template: repeat(5, 1fr) / 1fr;
    }
    #m {
        grid-area: 3/1/4/2;
    }
    #n {
        grid-area: 1/1/3/2;
    }
}
