body {
    padding: 20px;
}

h1, h2 {
    margin-left: 20px;
}

p {
    margin-left: 38px;
}

ul {
    margin-left: 20px;
}

.return {
    margin: 20px 0 0 20px;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: cadetblue;
}

a:active {
    color: coral;
}

input {
    margin-left: 38px;
}

button {
    margin-left: 20px;
}

img {
    margin-left: 40px;
}